@font-face {
  font-family: "Schib";
  src: url("fonts/SchibstedGrotesk-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Schib";
  background-color: #f2ede5;
}

.all {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  background-color: rgb(242, 237, 229, 0.9);
  top: 0;
  position: sticky;
  height: 100px;
}

.header-links {
  max-width: 40%;
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 30px;
  font-weight: bold;
  font-size: large;
  z-index: 2;
  padding-left: 80px;
}

.arrow {
  width: 14px;
  padding-left: 5px;
}

.jump {
  cursor: pointer;
  text-decoration: none;
  color: black;
  border: 2px solid rgb(242, 237, 229, 0);
  padding: 10px;
}

.jump:hover {
  border-radius: 20px;
  border: 3px solid #ac6195;
  box-shadow: 2px 2px 2px gray;
}

.page-all {
  padding-left: 90px;
  padding-bottom: 60px;
}

.desc {
  font-size: x-large;
  font-weight: 10;
  line-height: 150%;
}

.purple {
  color: #ac6195;
}

.top {
  display: flex;
}

.left {
  flex: 60%;
}

.right {
  flex: 40%;
}

.sarah1 {
  border-radius: 100%;
  margin-bottom: 10px;
  width: 60%;
  margin-left: 7vw;
  border: 3px solid #ac6195;
  box-shadow: 3px 3px 3px gray;
}

h1 {
  font-size: 45px;
}

h2 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: xx-large;
}

.project-all h2 {
  padding-bottom: 30px;
}

.icons {
  padding-top: 20px;
  width: 80%;
}

.insta,
.github,
.mail,
.linkedin {
  width: 10%;
  margin-right: 2.5vw;
  border: 2.5px solid #f2ede5;
}

.insta:hover,
.github:hover,
.mail:hover,
.linkedin:hover {
  box-shadow: 3px 3px 3px gray;
  border: 3px solid #ac6195;
}

.insta,
.mail {
  border-radius: 20px;
}

.github {
  border-radius: 50px;
}

.linkedin {
  border-radius: 10px;
}

.projects {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-row: auto auto;
  grid-column-gap: 0;
  grid-row-gap: 50px;
}

.prev {
  width: 30vw;
  border-radius: 10px;
  border: 1px solid #f2ede5;
}

.prev:hover {
  border: 3px solid #ac6195;
  box-shadow: 4px 4px 4px gray;
}

h3 {
  padding-right: 20px;
  font-size: x-large;
  padding-top: 20px;
}

.project p {
  padding-right: 15vw;
  line-height: 150%;
  font-size: large;
}

.about p {
  font-size: 20px;
  line-height: 150%;
}

.about {
  display: flex;
}

.about .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-pic {
  margin-bottom: 10px;
  border-radius: 100%;
  width: 60%;
  margin-left: 7vw;
  border: 3px solid #ac6195;
  box-shadow: 3px 3px 3px gray;
}

.link {
  color: #ac6195;
}

.link:hover {
  color: #5d244c;
}

.project-page {
  padding-right: 90px;
}

.project-page h1 {
  padding-bottom: 20px;
}

.project-page p {
  font-size: large;
}
