@font-face {
  font-family: "Schib";
  src: url("fonts/SchibstedGrotesk-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Schib";
  background-color: #f2ede5;
}

.all {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  background-color: rgb(242, 237, 229, 0.9);
  top: 0;
  position: sticky;
}

.header-links {
  max-width: 40%;
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 30px;
  font-weight: bold;
  font-size: large;
  z-index: 2;
  padding-left: 70px;
}

.arrow {
  width: 14px;
  padding-left: 5px;
}

.jump {
  cursor: pointer;
  text-decoration: none;
  color: black;
  border: 4px solid #f2ede5;
  padding: 10px;
}

.jump:hover {
  border-radius: 20px;
  border: 3px solid #ac6195;
  box-shadow: 2px 2px 2px gray;
}

.projects-all {
  padding-left: 70px;
}

.desc {
  font-size: x-large;
  font-weight: 10;
}

.purple {
  color: #ac6195;
}

.top {
  display: flex;
}

.left {
  flex: 60%;
}

.right {
  flex: 40%;
}

.sarah1 {
  border-radius: 100%;
  width: 60%;
  margin-left: 7vw;
  border: 3px solid #ac6195;
  box-shadow: 3px 3px 3px gray;
}

h1 {
  font-size: 45px;
}

h2 {
  padding-top: 50px;
}

.icons {
  padding-top: 20px;
  width: 80%;
}

.insta,
.github,
.mail,
.linkedin {
  width: 10%;
  margin-right: 30px;
}

.insta:hover,
.github:hover,
.mail:hover,
.linkedin:hover {
  box-shadow: 3px 3px 3px gray;
}

.insta,
.mail {
  border-radius: 20px;
}

.github {
  border-radius: 50px;
}

.linkedin {
  border-radius: 10px;
}

.projects {
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
